form {
	border:1px solid #f1f1f1;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('../images/header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 97.5vh;
}

input [type=text], input [type=password]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
	background-color: #4caf50
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border:none;
	cursor: pointer;
	width:100%;
}

button: hover{
	opacity: 50;
}

.cancelbtn{
	width: auto;
	padding: 10px 18px;
	background-color: #cccc;
}

.imgcontainer{
	text-align: center;
	margin: 3px 0 2px 0;
}

img.avatar{
	width: 5%;
	border-radius: 50%;
}

.container {
	padding: 105px;
}

span.psw{
	float: right;
	padding-top: 16px;
}

@media screen and (max-width:300px){
	span.psw{
		display:block;
		float:none;
	}
	.cancelbtn{
		width:100%;
	}
}