* {
	margin: auto;
	padding:auto;
}

header{
	background-image:linear-gradient(rgba(0,0,0.3,0.1),rgba(0,0,0,0)), url('../images/header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

input[type=text], input[type=password]{
	width: 50%;
	padding: 10px;
	margin: 2px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
	opacity: 0.9;
	
}

input [type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

hr{
	border: 1px solid #ffcaee;
	margin-bottom: 25px;
	margin-top: 5px;
}

button{
	background-color: #4caf30;
	color: black;
	padding: 14px 20px;
	margin: 8px 0;
	border:none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
	border-radius: 10%;
	transition: 0.5s;
}

button: hover{
	opacity:1;
	border: 0.5px;
	color:gray;
}

.cancelbtn {
	padding: 14px 20px;
	background-color: #cccc
}

.cancelbtn {
	float: left;
	width: 10%;
	font-family: monospace;
}
.signupbtn {
	padding: 14px 20px;
	background-color: #cccc
}
 .signupbtn {
 	float: right;
 	width: 10%;
 	font-family: monospace;
 }

.container {
	padding:16px;
}

.clearfix::after{
	content: "";
	clear:both;
	display: table;
}

@media screen and (max-width: 300px) {
	.cancelbtn, .signupbtn{
		width: 100%;
	}
}