*{ 
	margin:  0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-size: 20px;
	overflow-x: hidden;
	color: white;
	font-family: "Flamenco", cursive;
}

header{
	background-image:linear-gradient(rgba(0,0,6,0),rgba(0,0,3,0)), url('../images/header.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

.clearfix: after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.row{
	max-width: 1180px;
	margin: 0 auto;
}

.tw{
	float: right;
	margin-top: -200px;
	margin-right: 300px;
	font-family: Gungsuh Regular;
	font-size: 35px;
}

.logo{
	height: 120px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.main-nav{
	float: right;
	margin-top: 60px;
}

.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 100px;
}

.main-nav li a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 150;
	transition: 0.5s;
}

.main-nav li a:hover{
	border-bottom: 2px solid #fff;
}

.main-content-header{
	width: 1180px;
	position: absolute;
	top: 35%;


}

h1{
	color: #ffffc;
	font-size: 50px;
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: lighter;
}

.btn{
	display: inline-block;
	padding: 10px 30px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2;
	transition: 0.7s;
	font-family: Cambria;
	margin-right: 10px;
}

.btn-full{
	background-color: transparent;
	color: #bf55ec;
	margin:-right: 15px;
	border: 1px  solid #bf55ec;

}

.btn-full:hover{
	background-color: #ffff;
}

.colorchange{
	color: red pink white;
	animation: colorchange 1s infinite;
}